asgiref==3.8.1
beautifulsoup4==4.13.3
blinker==1.7.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
DateTime==5.5
deep-translator==1.11.4
Deprecated==1.2.18
Flask==3.0.2
Flask-Limiter==3.12
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.4.2
limiter==0.5.0
limits==4.4.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
nltk==3.9.1
ordered-set==4.1.0
packaging==24.2
Pygments==2.19.1
pytz==2025.1
redis==5.0.1
regex==2024.11.6
requests==2.32.3
rich==13.9.4
setuptools==76.0.0
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.38
StrEnum==0.4.15
token-bucket==0.3.0
toml==0.10.2
tqdm==4.67.1
types-click==7.1.8
types-Flask==1.1.6
types-Flask-SQLAlchemy==2.5.9.4
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-requests==2.32.0.20250306
types-SQLAlchemy==1.4.53.38
types-toml==0.10.8.20240310
types-Werkzeug==1.0.9
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.0.2
wrapt==1.17.2
zope.interface==7.2
zxcvbn
